.sell-car-model {
  /* background-color: white; */
  background: linear-gradient(135deg, #b22222, #ff6347);
  border-radius: 20px;
  margin: 10px 10px 10px 25px;
  padding: 50px 20px;
  /* height: calc(100vh - 160px); */
}

.submit {
  width: 80%;
  margin-top: 10px !important;
  background: #8b0000 !important;
}

.view-all {
  color: #e31e24 !important;
}

.disabled-button {
  background: grey !important;
  color: white !important;
}

.MuiAppBar-root {
  background: transparent !important;
  box-shadow: none !important;
}

.MuiTabs-indicator {
  background-color: #e31e24 !important;
}

.MuiTabs-flexContainer > button {
  color: grey !important;
}

.MuiTabs-scroller {
  display: flex !important;
  justify-content: center !important;
}

.MuiSvgIcon-root {
  color: #e31e24 !important;
}


